* {
    list-style: none;
}

ul {
    margin: 0;
}

.space-manager {
    margin: 10px 0
}

.space-manager > .space-information {

}

.space-manager > .booking-request {
    border: 1px solid #dfe6e9;
    width: fit-content;
    padding: 7px;
}

.booking-request > .booking-date {
    text-align: center;
    margin-bottom: 7px;
}

.inline {
    display: inline;
}