<div>

  <ul>
    <li><%= @space[:description] %></li>
    <li><%= @space[:location] %></li>
    <li><%= @space[:price] %></li>
    <li><%= @space[:date] %></li>
  </ul>

  <form action="/requests" method="post">
    <div>
      <label for="stay">Choose your stay date :</label>
      <input type="date" id="stay" name="stay" required>
      <span class="validity"></span>
    </div>
    <div>
      <input type="submit" value="Confirm">
    </div>
  </form>

</div>
